# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\shuaif\Desktop\Web_Page_Recognition\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/target/
/.idea/